$primary-color: rgb(218, 215,205);
$secondary-color: rgb(58, 90, 64);
$tertiary-color: black;
$font-family: arial, sans-serif;
$font-size: 16px;
$line-height: 1.5;
$padding: 10px 0;
$margin: 20px;
$border-radius: 5px;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

body {
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    margin: 5px;
    padding: 0;
}

/*navbar*/
.container-fluid {
    background-color: $secondary-color;
    color: $primary-color;
    padding: $padding;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: $box-shadow;
    .navbar-brand {
        font-size: 24px;
        font-weight: bold;
        color: $primary-color;
        text-decoration: none;
        padding-left: 20px;
        &:hover {
            color: $primary-color;
            text-decoration: none;
            }
        .navbar-toggler {
            border: none;
            background: $primary-color;
            color: $secondary-color;
            padding: 8px 12px;
            border-radius: $border-radius;
            cursor: pointer;
            .navbar-toggler-icon {
                width: 20px;
                height: 2px;
                display: block;
                position: relative;
            }
        }
    }        
    .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding-left: 0;
        margin: 5px;
        a {
            color: $primary-color;
            text-decoration: none;
            padding: 8px 12px;
            transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
            &:hover {
                border-radius: 10px;
                background-color: $primary-color;
                text-decoration: none;
                color: $secondary-color;
                box-shadow: $box-shadow;
                transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
            }
        }
    }
}
/* Sección bienvenida */
.main-content {
    .card-img-top {
                width: 100%;
                height: auto;
                border-radius: 8px 8px 0 0;
                margin-bottom: 15px;
            }
            .card-body{
                padding: 15px;
                border-radius: 0 0 8px 8px;
                text-align: center;
                color: $secondary-color;
                .card-title {
                    font-size: 24px;
                    margin-bottom: 10px;
                    color: $secondary-color;
                }
                .card-text {
                    font-size: 16px;
                    margin-bottom: 15px;
                    color: $tertiary-color;
                }
            }
        }
        /* Sección proyectos */
        .proyectos-index {
            .titulo_pagina {
                text-align: center;
                margin-bottom: 20px;
                color: $secondary-color;
            }
            .bienvenida {
                text-align: center;
                margin-bottom: 30px;
                color: $tertiary-color;
                padding: 0 20px;
            }
            .col{
                margin-bottom: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            .card-body-proyecto {
                padding: 15px;
                border-radius: $border-radius;
                text-align: center;
                background-color: $secondary-color;
                h3 {
                    font-size: 20px;
                    margin-bottom: 10px;
                    color: $primary-color;
                }
                .card-text {
                    font-size: 14px;
                    margin-bottom: 10px;
                    color: $tertiary-color;
                }
            }
        }
        /* Sección sobre mí */
        .sobre-mi-index {
            .texto-sobre-mi {
                margin-bottom: 5px;
                text-align: center;
                color: $tertiary-color;
                padding: 0 20px;
            }
        }
        /* Sección habilidades */
        .habilidades-index {
            .habilidades {
                text-align: center;
                margin-bottom: 20px;
                .table {
                    text-align: center;
                    width: 50%;
                    border: 1px solid $secondary-color;
                    margin: 0 auto;
                    background-color: $primary-color;
                    color: $tertiary-color;
                    border-radius: $border-radius;
                    padding: 10px;
                    box-shadow: $box-shadow;
                    margin-bottom: 20px;
                }
            }

        }
        /* Sección contacto */
        .contactos-index {
            .card-text-contacto {
                text-align: center;
                margin-bottom: 5px;
                color: $tertiary-color;
                padding: 0 20px;
            }
            .redes{
                text-align: center;
                margin-top: 20px;
                margin-bottom: 20px;
                color: $tertiary-color;
                padding: 0 20px;
                .redes-lista {
                    display: inline-block;
                    margin: 0 10px;
                    padding: 10px 15px;
                    color: $primary-color;
                    text-decoration: none;
                    border-radius: $border-radius;
                    transition: background-color 0.3s ease, color 0.3s ease, $box-shadow 0.3s ease;
                    box-shadow: $box-shadow;
                    .redes-icono {
                        width: 20px;
                        height: 20px;
                        vertical-align: middle;
                        &:hover {
                            background-color: $primary-color;
                            color: $secondary-color;
                            box-shadow: $box-shadow;
                        }
                    }
                }
                .iconos {
                    font-size: 24px;
                    margin: 0 10px;
                    color: $secondary-color;
                    text-decoration: none;
                    &:hover {
                        color: $tertiary-color;
                    }
                }
            }
        }
        /* Footer */
        footer {
            text-align: center;
            padding: 10px 0;
            background: $secondary-color;
            color: $primary-color;
            margin-top: 20px;
            .footer-text {
                margin: 0;
                color: $primary-color;
            }
        }
        /*contenedor de botones*/
        .button-container {
            text-align: center;
            margin-top: 20px;
            .btn {
                background-color: $secondary-color;
                color: $primary-color;
                border: none;
                padding: 10px 20px;
                border-radius: $border-radius;
                cursor: pointer;
                font-size: 16px;
                transition: background-color 0.3s ease, color 0.3s ease;
                &:hover {
                    background-color: $primary-color;
                    color: $secondary-color;
                }
            }
        }
        .ver-mas {
            display: inline-block;
            margin-top: 10px;
            padding: 8px 12px;
            background-color: $secondary-color;
            color: $primary-color;
            border-radius: $border-radius;
            text-decoration: none;
            transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
            box-shadow: $box-shadow;
            &:hover {
                background-color: $primary-color;
                color: $secondary-color;
                box-shadow: $box-shadow;
            }
        }
        .ver-mas-proyecto {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 1px;
            padding: 8px 12px;
            background-color: $secondary-color;
            color: $primary-color;
            text-decoration: none;
            border-radius: $border-radius;
            transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
            box-shadow: $box-shadow;
        }
        .volver-arriba {
            position: fixed;
            display: inline-block;
            bottom: 10px;
            right: 10px;
            padding: 8px 12px;
            background-color: $secondary-color;
            color: $primary-color;
            text-decoration: none;
            border-radius: $border-radius;
            transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
            box-shadow: $box-shadow;
            &:hover {
                background-color: $primary-color;
                color: $secondary-color;
                box-shadow: $box-shadow;
            }
        }
        .button-enviar {
        background-color: $secondary-color;
        color: $primary-color;
        border: none;
        padding: 10px 15px;
        border-radius: $border-radius;
        transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
        box-shadow: $box-shadow;
        cursor: pointer;
        &:hover {
            background-color: $primary-color;
            color: $secondary-color;
            box-shadow: $box-shadow;
        }
    }
/*Estilo para titulos y subtitulos*/
.titulo_pagina {
    text-align: center;
    margin-bottom: 20px;
    color: $secondary-color;
    margin-top: 20px;
}
.subtitulo {
    color: $secondary-color;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
}

/* Pagina de proyectos */
.card-body-proyectos {
    padding: 15px;
    border-radius: 8px 8px 8px 8px;
    text-align: center;
    align-items: center;
    color: rgb (163, 173, 138);
    background-color: $secondary-color;
    .card-title-proyecto {
        margin-bottom: 20px;
        text-align: center;
        margin-top: 20px;
        font-size: 25px;
        color: $primary-color;
    }
    .card-text-proyecto {
        font-size: 14px;
        margin: 10px 5px 10px 5px;
        color: $primary-color;
        text-align: justify;
    }
}
/* Pagina sobre mi */
.main-content-sobre-mi {
    margin: 0 auto;
    background: $primary-color;
    padding: 20px;
    border-radius: $border-radius;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    gap: 10px;
    grid-template-areas:
        "historia objetivos"
        "experiencia mision-vision"
        "intereses pasatiempos";
    .historia {
        box-shadow: $box-shadow;
        grid-area: historia;
        align-items: center;
        text-align: center;
    }
    .objetivo {
        box-shadow: $box-shadow;
        grid-area: objetivos;
        align-items: center;
        text-align: center;
    }
    .experiencia {
        box-shadow: $box-shadow;
        grid-area: experiencia;
        align-items: center;
        text-align: center;
    }
    .intereses {
        box-shadow: $box-shadow;
        grid-area: intereses;
        align-items: center;
        text-align: center;
    }
    .pasatiempos {
        box-shadow: $box-shadow;
        grid-area: pasatiempos;
        align-items: center;
        text-align: center;
    }
    .mision-vision {
        box-shadow: $box-shadow;
        grid-area: mision-vision;
        align-items: center;
        text-align: center;
    }
}
/* Pagina de Habilidades */
.habilidades-tecnicas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    margin-top: 20px;

    .fw-bold {
        background-color: $secondary-color;
        color: $primary-color;
        padding: 5px 5px;
        border-radius: $border-radius;
    }
}
.habilidades-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    .list-group-item {
        background-color: $secondary-color;
        color: $primary-color;
        padding: 5px 5px;
        border-radius: $border-radius;
        margin-bottom: 5px;
    }
}
.table {
    text-align: center;
    width: 50%;
    border: 1px solid $secondary-color;
    margin: 0 auto;
    background-color: $primary-color;
    color: $tertiary-color;
    border-radius: $border-radius;
    padding: 10px;
    box-shadow: $box-shadow;
    margin-bottom: 20px;
}
/* Pagina de contacto */
.redes{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $tertiary-color;
    padding: 0 20px;
    .redes-lista {
        display: inline-block;
        margin: 0 10px;
        padding: 10px 15px;
        color: $primary-color;
        text-decoration: none;
        border-radius: $border-radius;
        transition: background-color 0.3s ease, color 0.3s ease, $box-shadow 0.3s ease;
        box-shadow: $box-shadow;
        .redes-icono {
            width: 20px;
            height: 20px;
            vertical-align: middle;
            &:hover {
                background-color: $primary-color;
                color: $secondary-color;
                box-shadow: $box-shadow;
            }
        }
    }
}
.formulario-contacto {
    text-align: center;
    margin: 50px;
    color: $secondary-color;
    .row {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-bottom: 15px;
    }
    .mb-3 {
       margin-bottom: 15px; 
    }
}
/* Estilos para banner */
.banner {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
}
